<div>
    <h1>Register</h1>
</div>

    <form action="" id="formRegister">
        <label for="">Nombre</label><br/>
        <input type="text" name="first_name"><br/>
        <label for="">Apellido</label><br/>
        <input type="text" name="last_name"><br/>
        <label for="">Email</label><br/>
        <input type="text" name="email"><br/>
        <label for="">Password</label><br/>
        <input type="text" name="password"><br/><br/>
        <input type="submit"><br/>    
    </form>
</div>


<script src="/js/login-register/register.js"></script>

